.footer {
  background-color: $secondary-color;
  color: $bg-light;
  padding: 2rem 0;

  .footer-logo {
    width: 120px;
    align-items: center;
  }

  .footer-bottom {
    font-size: 0.9rem;
    color: rgba($bg-light, 0.8);
    align-items: center;
  }

  .footer-social {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;

    a {
      display: inline-block;

      img {
        width: 40px;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:hover {
          transform: scale(1.2);
          opacity: 0.8;
        }
      }
    }
  }
}


