@media (max-width: 991px) {
  .navbar-nav {
    display: none !important;
  }
  .menu-toggle {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    h1 { font-size: 3.8rem; }
    h2 { font-size: 2.5rem; }
    p { font-size: 1.5rem; }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 100vh;
    h1 { font-size: 3.5rem; }
    h2 { font-size: 1.8rem; margin-bottom: 1rem; }
    p { font-size: 1.2rem; }
    .button-group {
      flex-direction: column;
      gap: 0.8rem;
      .btn { width: 100%; max-width: 250px; margin: 0 auto; }
    }
  }
}

@media (max-width: 576px) {
  .hero {
    h1 { font-size: 3rem; }
    h2 { font-size: 1.3rem; }
    p { font-size: 1rem; }
  }
}

@media (max-width: 768px) {
  .row { flex-direction: row!important; align-items: center!important; }
  .about-photo .photo-wrapper { max-width: 400px !important; }
  .section-title { font-size: 2.8rem !important; }
  .bubbles-container {
    justify-content: center;
    gap: 0.5rem !important;
    .bubble {
      width: 80px!important;
      height: 80px!important;
      font-size: 1.2rem!important;
    }
    .bubble.active {
      width: 95%!important;
      min-height: 140px!important;
      max-height: 400px!important;
      .bubble-text { 
      font-size: 0.9rem;
      max-width: fit-content; }
    }
  }
}

@media (max-width: 576px) {
  .row { flex-direction: column!important; text-align: center!important; }
  .about-photo .photo-wrapper { max-width: 300px!important; }
  .bubbles-container {
    flex-wrap: nowrap!important;
    .bubble {
      width: 70px!important;
      height: 70px!important;
      font-size: 1rem!important;
    }
    .bubble.active {
      width: 95%!important;
      min-height: 140px!important;
      max-height: 300px!important;
    }
  }
}

@media (max-width: 400px) { 
  .bubbles-container {
    flex-wrap: nowrap!important;
    .bubble {
      width: 50px!important;
      height: 50px!important;
      font-size: 1rem!important;
    }
    .bubble.active {
      width: 300px!important;
      min-height: 150px!important;
      max-height: 350px!important;
    }
  }
}

@media (max-width: 992px) {
  .my-education .row {
    flex-wrap: wrap!important;
    justify-content: center!important;
    gap: 2rem!important;
  }
  .education-card {
    width: 95%!important;
    max-width: 700px!important;
    min-height: 250px!important;
    text-align: center!important;
  }
}

@media (max-width: 768px) {
  .my-education .row {
    flex-direction: column!important;
    align-items: center!important;
    gap: 1.5rem!important;
  }
  .education-card {
    width: 90%!important;
    max-width: 400px!important;
    min-height: 250px!important;
    text-align: center!important;
    margin: auto!important;
  }
}

@media (max-width: 992px) {
  .skills-tools {
    padding: 4rem 1rem;
    background-size: 500vh!important;
  }
  .skills-list {
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 3rem!important;
  }
  .tools-container {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .tool-icon {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .skills-tools {
    padding: 3rem 1rem;
    background-size: 465vh!important;
  }
  .skills-list {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 5rem !important;
  }
  .tools-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
  }
  .tool-icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .btn-cta{
    text-align: center;
  }
}

@media (max-width: 992px) {
  .education-skills-wrapper {
    background-size: cover !important;
    background-position: center !important;
  }
}

@media (max-width: 768px) {
  .education-skills-wrapper {
    background-size: cover !important;
    background-position: center !important;
  }
}

@media (max-width: 992px) {
  .my-projects .row {
    justify-content: center;
    gap: 1.5rem;
  }

  .project-card {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .my-projects .row {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 95%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .cta-section {
    padding: 3rem 1rem;
    background-size: cover !important; 
  }

  .cta-title {
    font-size: 2.2rem;
  }

  .cta-text {
    font-size: 1.3rem;
  }

  .btn-primary {
    font-size: 1rem;
    padding: 0.8rem 1.5rem !important;
    width: 100%; 
    max-width: 250px!important; 
    margin: 0 auto; 
  }
}

@media (max-width: 992px) {
  .cv-grid {
    grid-template-columns: repeat(2, 1fr)!important; 
    gap: 1rem!important;
  }

  .cv-header {
    grid-column: span 2!important; 
    text-align: center!important;
    padding-left: 0!important;
    padding-top: 0!important;
    h1 {
      font-size: 3.8rem!important;
      padding-top: 1rem!important;
    }
    h2 {
      font-size: 2rem!important;
    }
  }

  .cv-photo {
    grid-column: span 1!important;
    img {
      max-width: 250px!important; 
    }
  }

  .cv-education {
    grid-column: span 1!important;
  }

  .cv-experience {
    grid-column: span !important; 
    grid-row: span 2!important;
  }

  .cv-soft-skills {
    grid-column: span 1!important;
  }

  .cv-hard-skills {
    grid-column: span 2!important;
  }
}

@media (max-width: 768px) {
  .cv-grid {
    grid-template-columns: 1fr!important;
    gap: 1.2rem!important;
  }

  .cv-header {
    grid-column: span 1!important;
    text-align: center!important;
    padding-top: 0!important;
    padding-left: 1.5rem!important;

    h1 {
      font-size: 3rem!important;
      padding-top: 1rem!important;
    }
    h2 {
      font-size: 1.8rem!important;
    }

    h4 {
      color: $secondary-color;
      font-size: 0.8rem!important;
      padding-bottom: 1rem!important;
      font-weight: 400!important;
    }

    p{
      font-size: 1.1rem!important;
      font-weight:500!important;
      color:$text-dark!important;
    }
  }

  .cv-photo {
    grid-column: span 1!important;
    img {
      max-width: 350px!important;
    }
  }
  
  .cv-box{
    h3{
      padding-bottom: 1rem!important;
    }
  }

  .cv-education {
    grid-column: span 1!important;
  }

  .cv-experience {
    grid-column: span 1!important;
    grid-row: span 2!important;
  }

  .cv-soft-skills {
    grid-column: span 1!important;
  }

  .cv-hard-skills {
    grid-column: span 1!important;
  }

  .skills-list {
    justify-content: center!important;
  }

  .skill-pill {
    font-size: 1.1rem!important;
    padding: 0.8rem 1.1rem!important;
  }
}

@media (max-width: 576px) {
  .cv-header {
    padding-top: 0!important;
    h1 {
      font-size: 2.2rem!important;
      padding-top: 1rem!important;
    }
    h2 {
      font-size: 1.5rem!important;
    }

    h4 {
      color: $secondary-color;
      font-size: 0.8rem!important;
      padding-bottom: 1rem!important;
      font-weight: 400!important;
    }

    p{
      font-size: 1rem!important;
      font-weight:500!important;
      color:$text-dark!important;
    }
  }
  .cv-box{
    h3{
      padding-bottom: 1rem!important;
    }
  }
  .cv-photo img {
    max-width: 300px!important;
  }

  .skill-pill {
    font-size: 1rem!important;
    padding: 0.8rem 1rem!important;
  }
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
    padding: 2rem 1rem;
    justify-content: center!important;
  }

  .footer .row {
    flex-direction: column;
    align-items: center;
    justify-content: center!important;
    gap: 1rem;
  }

  .footer-logo {
    width: 100px;
    justify-content: center!important;
  }

  .footer-social {
    gap: 1rem;
    justify-content: center!important;
  }

  .footer-bottom {
    font-size: 0.8rem;
    justify-content: center!important;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem;
    justify-content: center!important;
  }

  .footer-logo img {
    width: 100px; 
    justify-content: center!important;
  }

  .footer-social a img {
    width: 28px; 
    margin: 0 0.5rem;
    justify-content: center!important;
  }

  .footer-bottom p {
    font-size: 0.8rem; 
    align-items: center!important;
  }
}

 @media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center!important;
    width: 100%;
  }

  .contact-form {
    width: 90%; 
    min-width: unset; 
  }

  .contact-info {
    width: 100%;
    margin-top: 2rem; 
  }

  .contact-socials {
    justify-content: center;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .education-skills-wrapper {
    background:url("../img/background-skills&toolsmobile.svg") no-repeat center center/contain;
  } 
}

@media (max-width: 400px) {
.cv-page {
  background:url("../img/background-skills&toolsmobile.svg") no-repeat center center/cover;
}
}