//  Palette 
$primary-color: #E05C30;
$secondary-color: #44769a;
$bg-light: #fffdf9;
$text-dark: #403D39;
$hover-color: #44769a;

// Font 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$font-primary: "Poppins", sans-serif;

